// Color
$color-black: #000000;
$color-darkgrey: #505050;
$color-grey: #808080;
$color-lightgrey: #C0C0C0;
$color-lighter-grey: #E0E0E0;
$color-white: #FFFFFF;
$color-sidebar: #3D5BCB;
$color-success: #64af6d;
$color-danger: #f44336;
$color-warning: #FF8000;//#E19F35;

// Color Palette
$color-main-brand: #3D5BCB;
$color-main-brand-background: #d7dae5;

// Screen Sizes
$bp-mobile-horizontal-height: 500px;
$bp-mobile-vertical-height: 900px;
$bp-tablet-height: 700px;
$bp-desktop: 1024px;

// Constants
$width-side-navbar: 200px;


@mixin for-size($size) {
    @if $size == desktop-up {
        @media only screen and (min-width: $bp-desktop) { @content; }
    } @else if $size == desktop-15-up {
        @media only screen and (min-width: 1440px) and (min-height: 900px) { @content; }
    } @else if $size == desktop-17-up {
        @media only screen and (min-width: 1920px) and (min-height: 1080px) { @content; }
    } 
}


// Fonts
.small-text {
    font-size: 10px;
    @include for-size(desktop-up) {
        font-size: 12px;
    }
    @include for-size(desktop-15-up) {
        font-size: 15px;
    }
}

.medium-text {
    font-size: 13px;
    @include for-size(desktop-up) {
        font-size: 15px;
    }
    @include for-size(desktop-15-up) {
        font-size: 18px;
    }
}

.large-text {
    font-size: 16px;
    @include for-size(desktop-up) {
        font-size: 18px;
    }
    @include for-size(desktop-15-up) {
        font-size: 21px;
    }
}

.xlarge-text {
    font-size: 20px;
    @include for-size(desktop-up) {
        font-size: 22px;
    }
    @include for-size(desktop-15-up) {
        font-size: 25px;
    }
}

.xxlarge-text {
    font-size: 22px;
    @include for-size(desktop-up) {
        font-size: 25px;
    }
    @include for-size(desktop-15-up) {
        font-size: 30px;
    }
}

.xxxlarge-text {
    font-size: 50px;
    @include for-size(desktop-up) {
        font-size: 55px;
    }
    @include for-size(desktop-15-up) {
        font-size: 60px;
    }
}

.black-text {
    color: $color-black
}

.darkgrey-text {
    color: $color-darkgrey
}

.grey-text {
    color: $color-grey
}

.lightgrey-text {
    color: $color-lightgrey;
}

.white-text {
    color: $color-white
}

.capital-text {
    text-transform: capitalize;
}

.italic-text {
    font-style: italic;
}

.danger-text {
    color: $color-danger;
}

.warning-text {
    color: $color-warning;
}

.success-text {
    color: $color-success;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bold;
}

.brand-text {
    color: $color-main-brand;
}

.link-text {
    color: $color-main-brand;
    cursor: pointer;
}

.link-text:hover {
    text-decoration: underline;
}

.back-icon {
    margin-right: 10px;
}

.icon-text {
    margin-right: 10px;
}

.paragraph-text {
    margin: 10px 0;
}